<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TBC Digital Test Suite"
       parallel="classes"
       thread-count="2">

    <test name="TBC Digital Automation Tests">
        <classes>
            <class name="ge.tbc.testautomation.CdmDataDrivenTest"/>
            <class name="ge.tbc.testautomation.ChatTest"/>
            <class name="ge.tbc.testautomation.CurrencyExchangeTest"/>
            <class name="ge.tbc.testautomation.LoanCalculatorTest"/>
            <class name="ge.tbc.testautomation.OffersApiHappyPathTest"/>
            <class name="ge.tbc.testautomation.OffersApiNegativeTest"/>
            <class name="ge.tbc.testautomation.OffersTest"/>
        </classes>
    </test>

</suite>